.form {
    width: 100%;
    margin: 5.5vh 0;
    
    display: flex;
    flex-direction: column;
    
    padding: 0 5vh 0 5vh;

    animation-name: toggleAwake;
    animation-duration: .5s;

    
    .form-group {
        padding: .65rem;
    }
}