.logo, .logo span {
    font-family: 'Roboto Condensed';
    font-size: 2.4rem;
}


.logo { 
    font-weight: 400;
    color: rgb(60, 60, 60);


    span { 
        font-weight: 700; 
        color: rgb(121, 27, 27); 
    }
}


.form .logo, 
.shoppinglistcontainer .logo {
    margin: 1rem 0 2rem 0;
}

.basecontainer .wrapper .logo {
    margin: 3rem auto;
    text-align: center;
}

@media screen and (max-height: 820px) {
    .logo, .logo span {
        font-size: 1.6rem;
    }

    .form .logo,
    .shoppinglistcontainer .logo,
    .basecontainer .wrapper .logo {
        margin-top: 4rem;
        text-align: center;
    }
}

@media screen and (max-width: 850px) {
    .logo, .logo span {
        font-size: 1.6rem;
    }

    .form .logo,
    .shoppinglistcontainer .logo,
    .basecontainer .wrapper .logo {
        margin-top: 4rem;
        text-align: center;
    }
}