*, 
*:hover, 
*:active, 
*:focus {
    margin: 0;
    padding: 0;
    outline: none;

    text-decoration: none;
    font-weight: normal;
    color: #242424;

    box-sizing: border-box;

    background: none;
    border: none;
}

body {
    width: 100vw;
    min-height: 100vh;

    font-size: 62.5%;

    font-family: 'Montserrat';
}

button, button:focus {
    font-family: 'Montserrat';
    
    cursor: pointer;

    color: #242424;
    background-color: rgb(224, 224, 224);
    border-bottom: 3px solid rgba(50, 50, 50, 0);
    transition: all .3s ease-in-out;

    &:hover, 
    &:active {
        background-color: rgb(202, 202, 202);
        border-bottom: 3px solid rgb(121, 27, 27);
    }

    &:disabled {
        cursor: default;
        background-color: rgb(224, 224, 224);
        border-bottom: 3px solid rgba(50, 50, 50, 0);
    }
}