.shoppingitem {
    width: 100%;
    height: 4.5rem;

    display: flex;
    flex-direction: row;
    margin: 0 0 1rem 0;

    background-color: rgb(240, 240, 240);
    /* border-bottom: 2px solid rgb(121, 27, 27); */
    transition: all 300ms ease-in-out;


    &-quantity {
        flex: .7;
    
        background-color: rgb(121, 27, 27);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 300ms ease-in-out;

        h2 {
            color: rgb(221, 221, 221);
            transition: all 300ms ease-in-out;
        }
    }


    &-details {
        flex: 7.5;

        margin-left: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;


        h1 {
            color: rgb(121, 27, 27);
            transition: all 300ms ease-in-out;
        }


        p {
            margin-top: .3rem;
            font-style: italic;
            transition: all 300ms ease-in-out;
        }
    }

    
    &-controls {
        flex: 2.3;
        display: flex;
    }
}


.shoppingitem.checked {

    background-color: white;
    

    .shoppingitem-quantity {
        background-color: rgb(230, 213, 213);
        
        h2 { 
            color: rgb(187, 187, 187);
        }
    }


    .shoppingitem-details {
        h1 {
            color: rgb(187, 187, 187);
        }

        p {
            color: rgb(187, 187, 187);
        }
    }

    button {
        background-color:rgb(243, 243, 243);
        color: rgb(187, 187, 187);
    }
}